body{
    font-family: Verdana, Tahoma, sans-serif;
}

.top {
    background-color: #1F2937;
    padding: 0 100px;
}

.header {
    color: #E5E7EB;
    font-size: 18px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    gap: 24px;
    list-style-type: none;
}

li {
    text-decoration: none;
}

.hero {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 10px;
}

h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    margin-bottom: 8px;
}

.paragraph {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background: #3882F6;
    color:#F9FAF8;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid #3882F6;
}

.image-space {
    background-color: gainsboro;
}

.awesome {
    display: flex;
    justify-content: center;
    gap: 20px;
}