body{
    font-family: Verdana, Tahoma, sans-serif;
}

.top {
    background-color: #1F2937;
    padding: 0 100px;
}

.header {
    color: #E5E7EB;
    font-size: 18px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    gap: 24px;
    list-style-type: none;
}

li {
    text-decoration: none;
}

.awesome {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}