body{
    font-family: Verdana, Tahoma, sans-serif;
}

.top {
    background-color: #1F2937;
}

.header {
    color: #E5E7EB;
    font-size: 18px; 
    display: flex;
    justify-content: space-between;
}